<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>weiboSDKDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9DC2B3FE1D18D13800FA794E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DC2B4171D18D13900FA794E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DC2B4221D18D13900FA794E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
